.env
.env.local
.env.dev

kivia_service/.env
kivia_service/.env.local

kivia_service/.env.dev

email_service/.env

/frontend/.env*
/frontend/.next/
/frontend/node_modules/
/frontend/out/
/frontend/build/
/frontend/coverage/
/frontend/.vercel/
/frontend/next-env.d.ts
/frontend/*.tsbuildinfo

/kivia-sdk-go/bin/
/kivia-sdk-go/coverage/

/kivia-sdk-js/.env*
/kivia-sdk-js/node_modules/
/kivia-sdk-js/dist/
