DATABASE_URL=postgresql://username:password@host:port/name

PORT=8081

JWT_ACCESS_TOKEN_SECRET=

JWT_REFRESH_TOKEN_SECRET=

RABBITMQ_CONNECTION_URL=amqp://guest:guest@localhost:5672

GOOGLE_CLIENT_ID=

GOOGLE_CLIENT_SECRET=